.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25rem;
  width: 20rem;
  background-color: rgb(219, 175, 78);
  border-radius: 2rem;
  border: outset 5px rgb(121, 104, 7);
  margin: 1rem;
}

.container:hover {
  border: outset 5px rgba(131, 124, 23, 0.582);
  background-color: rgba(223, 247, 14, 0.568);
}

.pokeSprite {
  width: 185px;
  height: 185px;
  border-radius: 6rem;
  border-color: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
}

.name {
  margin-top: -20px;
  font-size: 1rem;
  color: black;
  font-style: italic;
  text-decoration: none;
}

.types {
  margin: 2rem;
  font-size: 1.3rem;
  font-style: oblique;
  display: flex;
  gap: 0.5rem;
}

.types h5 {
  margin: 0;
  padding: 0.5rem 1rem;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 1rem;
}
